<div class="navbar">
    <div class = logo>
        <h1><a class="logo-link" href="#"><span style="color: red;">T</span>2<span style="color: red;">T</span> Portal</a></h1>
    </div>
    <div class="search-bar">
        <input class="search-bar-input" type="text" placeholder="Search Post" />
    </div>
    <div class="profile-img-container">
        <a [routerLink]="['/profile']">
            <img class="profile-img" src="../../../assets/img/default-user-thumbnail.png" />
        </a>
    </div>
</div>
