<div class="root">
    <div>
        <nav class="header-nav container flex-container">
            <h1 class="logo"><a class="logo-link" href="#"><span style="color: red;">T</span>2<span style="color: red;">T</span> Portal</a></h1>
            <img class="ti-logo" src="https://www.ti.com/etc/designs/ti/images/ui/ic-logo.svg" alt="">
          </nav>
    </div>
    <header>
        <section class="header-content">
            <div class="row"> 
                <div class="header-image column">
                    <!-- <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                          <mat-card-title>Shiba Inu</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <p>This card has divider and indeterminate progress as footer</p>
                          <p>{{ longText }}</p>
                          <mat-divider></mat-divider>
                        </mat-card-content>
                        <mat-card-footer>
                            <div class="progress-div">
                                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                            </div>
                        </mat-card-footer>
                      </mat-card> -->
                  </div>
                  <div class="header-description container col-lg-6">
                    <h2 class="header-title">Welcome to <span style="letter-spacing: .125em;"><span style="color: red;">T</span>2<span style="color: red;">T</span></span>Portal</h2>
                    <p>A portal desinged by TIers for TIers to expand skills and transfer knowledge across TI</p>
                  </div>
            </div>    
        </section>
    </header>
</div>
