<div class="root">
    <div>
        <nav class="header-nav container flex-container">
            <h1 class="logo"><a class="logo-link" href="#"><span style="color: red;">T</span>2<span style="color: red;">T</span> Portal</a></h1>
            <img class="ti-logo" src="https://www.ti.com/etc/designs/ti/images/ui/ic-logo.svg" alt="">
        </nav>
    </div>
    <div class="content container">
            <div class="flex-container container"> 
                <div class="header-description column container">
                    <h2 class="header-title">Welcome to <span style="letter-spacing: .125em;"><span style="color: red;">T</span>2<span style="color: red;">T</span></span>Portal</h2>
                    <p>A portal desinged by TIers for TIers to expand skills and transfer knowledge across TI</p>
                </div>
                <div class="container column">
                    <mat-card class="login-card">
                        <mat-card-title>Login to T2T</mat-card-title>
                        <mat-card-content>
                            <form [formGroup]="Loginform" (ngSubmit)="submit()">
                                <mat-form-field>
                                    <mat-label>Username</mat-label>
                                <input type="text" matInput placeholder="Example: A0502353" formControlName="username">
                                @if (Loginform.controls['username'].errors) {
                                    <mat-error>Invalid form!</mat-error>
                                }
                                </mat-form-field>
                    
                                <mat-form-field>
                                    <mat-label>Password</mat-label>
                                <input type="password" matInput placeholder="Password" formControlName="password">
                                @if (Loginform.controls['password'].errors) {
                                    <mat-error>Invalid form!</mat-error>
                                }
                                </mat-form-field>
                                <div class="button">
                                    <button type="submit" mat-button>Login</button>
                                </div>                   
                            </form>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div> 
            <app-leader></app-leader>   
        </div>
</div>
