@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
:root{
  --dark-color: hsl(0,0%,0%);
  --gray-color: hsl(0,0%,60%);
  --light-color: hsl(0,0%,100%);
  --border-color-dark: hsl(10,95%,70%);
  --border-color-normal: hsl(10,95%,83%);
  --border-color-light: hsl(10,95%,93%);
}
*{
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* GLOBAL STYLES */
.root {
    background: rgb(0,0,0);
    background: linear-gradient(42deg, rgba(0,0,0,1) 43%, rgba(255,0,0,1) 78%, rgba(255,255,255,1) 95%);
}
a{
  text-decoration: none;
  transition: .25s;
}

p{
  color: #dbdbdb;
  font-size: .9em;
  hyphens: auto;
  line-height: 1.5;
  margin: 1em 0;
}

/* CONTAINERS STYLES */
.container{
  padding: 1em;
}
.content{
    height: 100vh;
}
.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.column {
	flex: 1;
	margin: 2px;
	padding: 10px;
	&:first-child { margin-left: 10px; }
	&:last-child { margin-right: 20px;}
	
}
/* HEADER NAV */
.ti-logo {
    width: 300px;
}
.logo-link{
  color: #ffffff;
  font-weight: 600;
  letter-spacing: .125em;
}
.header-nav{
  padding: 2em;
  align-items: center;
  flex-direction: column;
}
// Form styles
.login-card {
    display: flex;
    width: 400px;
    padding: 1em;
    margin-top: 50px;
}
mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}
mat-card-content {
    margin-top: 10px;
    justify-content: center;
}
.mat-form-field {
    width: 100%;
    min-width: 300px;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    display: flex;
    justify-content: center;
}

/* HEADER CONTENT */
.header-description{
  margin: auto;
  flex: 50%;
}
.header-title{
  color: #ffffff;
  font-size: 2.5em;
  letter-spacing: -.025em;
  line-height: 1.25;
  margin-left: -.0625em;
}


@media only screen and (min-width: 1024px){ 
  /* GLOBAL STYLES */
  .content{
    overflow: hidden;
  } 
  img{
    object-position: 50% 100%;
  }
  
  /* CONTAINERS STYLES */
  .container{
    padding: 0em;
  }
  
  /* HEADER NAV */
  .header-nav{
    padding: 2em;
    flex-direction: row;
    justify-content: space-between;
  }
  .header-description{
    margin: 6em 3em 0;
    max-width: 50vw;
  }
  .header-title{
    font-size: calc(1vw + 2.5em);
  }
}

@media only screen and (orientation: portrait) and (min-height: 1024px){
}
@media screen and (max-width: 980px) {
    .flex-container .column {
          margin-bottom: 5px;
      flex-basis: 40%;
          &:nth-last-child(2) {
              margin-right: 0;
          }
          &:last-child {
              flex-basis: 100%;
              margin: 0;
          }
      }
  }
  
  @media screen and (max-width: 680px) {
      .flex-container .column {
          flex-basis: 100%;
          margin: 0 0 5px 0;
      }
  }