<div class="t-comments-box">
  <div class="comment-title">Comments</div>
  <div class="add-comment">
    <img
        class="comment-thumbnail"
        src="../../../assets/img/comment.png"
        alt=""
    />
    <div class="comment-input">
        <input
            class="form-control form-control-sm"
            type="text"
            [(ngModel)]="desc"
            placeholder="Add a comment.."
            (keydown.enter)="addComment()"
        />
      <div (click)="addComment()" class="comment-send">+</div>
    </div>
  </div>
  
  <ng-container
    *ngFor="let comment of comments"
    [ngTemplateOutlet]="treeNode"
    [ngTemplateOutletContext]="{ $implicit: comment }">
  </ng-container>
  
  <ng-template #treeNode let-comment>
    <div class="comment comment-level-1">
        <img
            class="comment-thumbnail"
            src="../../../assets/img/comment.png"
            alt=""
        />
        <div>
        <div class="comment-label">
            <span class="comment-name">{{ comment.createdBy }} </span>
            <span class="comment-time">{{
                comment.createdTime | date : "longDate"
            }}</span>
        </div>
        <div class="comment-content">
            {{ comment.text }}
        </div>
        <div class="comment-action">
            <span> Like ({{ comment.likes ?? 0 }})</span>
            <span> Comment ({{ comment.childComments?.length }})</span>
            <span> Reply </span>
        </div>
        </div>
    </div>
    <ng-container *ngIf="comment.childComments && comment.childComments?.length > 0">
      <ul>
        <ng-container
          *ngFor="let child of comment.childComments"
          [ngTemplateOutlet]="treeNode"
          [ngTemplateOutletContext]="{ $implicit: child }">
        </ng-container>
      </ul>
    </ng-container>
  </ng-template>
  @if (comments.length == 0) {
      <h3>No comments available.</h3>
  }
</div>
