.post-container {
    margin: 3%;
    align-self: center;
}

.post-title {
    padding-left: 1%;
    font-size: xx-large;
    margin-bottom: 16px;
}

.post-desc {
    color: #4f5253;
    overflow-wrap: break-word;
    margin-left: 1%;
    width: 50%;
}
