<navbar></navbar>

<div class="root">
    <div class="banner">
        <h1>{{ post.title }}</h1>
        <p>{{ post.shortDesc }}</p>
        <div class="user-details-container">
            <div class="user-details">
                <img
                    class="user-thumbnail"
                    src="../../../assets/img/default-user-thumbnail.png"
                    alt=""
                />
                <span style="color: white; padding-bottom: 10px; margin-left: 10px; padding-top: 5px;">
                    {{ post.createdBy }}<br><span style="color: rgb(214, 214, 214);font-weight: lighter;">{{ post.createdTime | date: 'longDate' }}</span>
                </span>
            </div>
            <div class="post-likes">
                <button class="post-likes-btn" (click)="toggleLikes()">
                    &hearts; {{ post.likes }}
                </button>
            </div>
        </div>
    </div>
    <div class="post-body">
        <div class="editor">
            <editor [disabled]="true" [initialValue]="post.desc" [init]="editorConfig"></editor>
        </div>
        <div class="tags">
            @for (item of post.tags; track $index) {
                <mat-chip-listbox>
                    <mat-chip color="primary" ><span>{{item}}</span></mat-chip>
                </mat-chip-listbox>&nbsp;
            }
        </div>
        <hr>
    </div>
    
    <div class="comments-section-container">
        <comments-section [postId]="post.pID ?? ''" [comments]="post.childComments ?? []"></comments-section>
    </div>
</div>
