<!-- <p>{{postId}} post</p>
 -->
<div class="root">
    <div class="banner">
        <h1>{{ post.title }}</h1>
        <p>{{ post.shortDesc }}</p>
        <div class="user-details">
            <mat-icon class="user-icon"> person_pin</mat-icon>
            <span style="color: white;padding-bottom: 10px;">
                {{ post.createdBy }}<br><span style="color: rgb(214, 214, 214);font-weight: lighter;">{{ post.createdTime | date: 'longDate' }}</span></span>
            <span class="likes"><mat-icon class="heart">&hearts;</mat-icon>{{ post.likes ?? 0 }}</span>
        </div>
    </div>
    <div class="post-body">
        <div class="editor">
            <editor [disabled]="true" [initialValue]="post.desc" [init]="editorConfig"></editor>
        </div>
        <div class="tags">
            @for (item of post.tags; track $index) {
                <mat-chip-listbox>
                    <mat-chip color="primary" ><span>{{item}}</span></mat-chip>
                </mat-chip-listbox>
            }
        </div>
        <hr>
    </div>
    
    <div class="comments-section-container">
        <comments-section [postId]="post.pID ?? ''" [comments]="post.childComments ?? []"></comments-section>
    </div>
</div>
