<navbar></navbar>
<div class="root">
    <div class="profile-container">
        <div class="profile-info-container">
            <div class="profile-img-conatiner">
                <img class="profile-img" src="https://freesvg.org/img/abstract-user-flat-4.png" />
            </div>
            <div class="profile-info">
                <div class="profile-name"><span>{{ user.firstName}}</span>  <span>{{user.lastName }}</span></div>
                <div class="profile-email">{{ user.email }}</div>
            </div>
        </div>
    
        <div class="profile-details">
            <div class="profile-attributes">
                <span class="profile-attribute">About: </span>
                <span class="profile-attribute-value">{{ user.about }}</span>
            </div>
            <div class="profile-attributes">
                <span class="profile-attribute">Organization: </span>
                @for (org of user.org; track org) {
                    <span class="chip">
                        {{ org }}
                    </span>
                }
            </div>
            <div class="profile-attributes">
                <span class="profile-attribute">Interest Tags: </span>
                @for (tag of user.interestTags; track tag) {
                    <span class="chip">
                        {{ tag }}
                    </span>
                } @empty {
                    <span class="profile-attribute-value">No Tags.</span>
                }
            </div>
            <div class="profile-attributes">
                <span class="profile-attribute">Points: </span>
                <span class="profile-attribute-value">{{ user.points ?? 0 }}</span>
            </div>
        </div>
    </div>
    
    <div class="post-preview-container">
        <div class="profile-activity-container">
            <div class="profile-activity">Activity</div>
            <div class="profile-create-post">
                <button mat-raised-button color="primary" (click)="createPost()">
                    Create Post +
                </button>
            </div>
        </div>
        <hr style="color: #ffffff; border-width: 2px;" />
        <post-preview [posts]="posts"></post-preview>
    </div>
</div>
