.root {
    padding-top: 2%;
    background-color: #2b3137;
}
.profile-container {
    width: 75%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left: 12%;
    padding-left: 2%;
    padding-bottom: 2%;
    font-family: "Montserrat", sans-serif;
}

.profile-info-container {
    padding-top: 2%;
    display: flex;
    align-items: center;
}

.profile-img {
    vertical-align: middle;
    height: 96px;
    width: 96px;
    border-radius: 64px;
}

.profile-info {
    margin: 2%;
}

.profile-name {
    font-size: 3.5rem;
    font-weight: bold;
    color: #555;
}

.profile-email {
    margin-top: 24px;
    margin-left: 12px;
    font-size: 1rem;
    align-items: center;
    color: #768791;
}

.profile-attributes {
    margin-top: 8px;
}

.profile-attribute {
    font-weight: bold;
}

.profile-attribute-value {
    color: #768791;
}

.profile-details {
    margin-top: 3%;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.chip {
    display: inline-block;
    font-size: 12px;
    padding: 5px;
    margin: 2px;
    border-radius: 25px;
    border: 1px solid #555;
    color: #555;
}

.profile-activity {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 2%;
}

.post-preview-container {
    width: 60%;
    margin: 2%;
    margin-left: 20%;
}

.profile-activity-container {
    display: flex;
    justify-content: space-between;
}