.add-post-content{
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 38%, rgba(37,38,40,1) 100%);
    height: max-content;
  }
  
  .new-post-title{
    color: white;
    background-color: 	#2b3137;
    font-size: 3em;
    padding: 50px;
    text-align: center;
  }
  .tox {
    height: 600px;
  }
  .top {
    width: 100%;
    height: 70px;
    background-color: black;
  }
  .post-content, .post-title{
    color: rgb(255, 255, 255);
  }
  .form-group {
    margin-left: 40px;
    margin-right: 40px;
  }
  form {
    width: 80%;
    margin-left: 10%;
  }
  mat-label {
    font-size: 1.5em;
  }
  mat-form-field {
    height: auto;
    width: auto;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: rgb(58, 57, 57);
  }
  .p-dropdown-panel .p-dropdown-items  {
    padding-left: 0em !important;
  }
  .example-full-width {
    width: 100%;
  }
  .btn {
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
  }